*.key
*.pem
*.env
*.zip
atavismkey.txt
atavism_server
ssl/*
**/.DS_Store

# Gradle
**/.gradle
build

# Source
src/*

!src/plugins/
!src/lib/
!src/examples/
!src/build/

# Ignore everything inside src/plugins and src/lib directories
src/plugins/*
src/lib/*